<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/app.css">
    <title>Document</title>
</head>
<body>

    <h1>index.html page</h1>
    <h1>ALL COMMENTS</h1>
    <ul>
        <% for(let i of comments){ %>
            <li> <strong><%= i.username %></strong> -> <%= i.comment %>
                <br>
                <a href="/comments/<%=i.id%>">Show</a>
                <a href="/comments/<%=i.id%>/edit">Edit</a>

<!-- //adding the new form for the delete  -->
                <form action="/comments/<%=i.id%>?_method=DELETE" method="POST">
                    <button type="submit">Delete</button>

                </form>
            </li>
        <% } %>
    </ul>
    
</body>
</html>